@import "../assets/fonts/fonts.css";

@import "rouge-github";
@import "variables";

@import "typography";
@import "tables";


/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Sen, sans-serif;
    height: 100%;
}

h1 {
    min-height: 4em;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $accent;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */


.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px;
    // display: flex;

    .container {
        // height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        font-size: 30px;
        line-height: 1;
        color: #272727;
    }

    &-list {
        display: flex;
        margin: 0;
        // padding: 5px 0 5px 0;
        padding: 0;
    }

    &-item {
        display: flex;
        list-style-type: none;

        a {
            padding: 0px 10px;

            &.active {
                opacity: 0.5;
            }
        }
    }
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px;

    p {
        text-align: center;
        margin: 0;
    }

    a {
        color: #000000;
    }
}

.clear {
    clear: both;
}

/* Divs */

.container {
    max-width: $lg-width;
    margin: auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $md-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 100%;
        padding: 0px 15px;
    }

    .navbar-list {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .navbar {
        .container {
            flex-direction: column;
        }

        &-title {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        &-list {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color:#333;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}




.downloads {
    list-style:none;
    height:40px;
    padding:0;
    background: #f4f4f4;
    border-radius:5px;
    border:1px solid #e0e0e0;
    width:270px;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;

    &-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #e0e0e0;

        font-size:11px;
        color: #676767;

        white-space: nowrap;

        &:first-child {
            border-radius:5px 0 0 5px;
        }

        &:last-child {
            border-radius:0 5px 5px 0;
        }

        &:hover, &:focus {
            color:#675C5C;
            font-weight:bold;
        }

        a:active {
            background-color:#f0f0f0;
        }
        
        strong {
            font-size:14px;
            color:#222;
        }
    }
}
